.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  color: #e6978e;
  padding-top: 8px;
}
.App-footer a {
  text-decoration: none;
  color: #e6978e;
}
.App-footer a:hover {
  opacity: 70%;
}
