.App {
  min-height: 100vh;
}

.App-logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  color: #e6978e;
  padding-top: 8px;
  font-size: 15px;
  text-align: center;
  font-style: "Bebas Neue", cursive;
}
.App-footer a {
  text-decoration: none;
  color: #e6978e;
}
.App-footer a:hover {
  opacity: 70%;
}
.App-header {
  color: #e97467;

  font-size: 96px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  font-weight: bold;
}
