.Results h1 {
  font-size: 60px;
  color: #e6978e;
  margin-top: -20px;
  font-family: "Fredericka the Great", cursive;
}
.Results #meaning {
  color: #e6978e;
}
h3 {
  font-size: 40px;
  font-family: "Fredoka One", cursive;
}

.definition {
  font-style: "Bebas Neue", cursive;
}
.definition::first-letter {
  text-transform: uppercase;
}

.example {
  font-style: "Bebas Neue", cursive;
  font-style: italic;
  color: #e6978ea1;
  margin-top: -5px;
}
.example::first-letter {
  text-transform: uppercase;
}
